<template>
<div class="row">
    <aside class="col-md-12 col-sm-12 p-0 flex-shrink-1">
    
    
    <div class="sidebar-brand container pt-4 pb-5 ">
        <div class = "container-fluid text-center">
            <img src="../assets/Logo1.png" alt="logo"  style="width:180px;">
        </div>
    </div>
                    
        
    <div class = "collapse navbar-collapse row" id = "navside">
        <div class = "container-fluid col-md-12 text-center">
            <ul class="col-md-12" id = "colu">
                <li><a href="#" class = "col1" id="upload-music" 
                data-bs-toggle="modal" data-bs-target="#UploadModal">Upload Music</a></li>
                
                <li><a href="#" >All Music</a></li>

            </ul> 
            <ul class="col-md-12" id = "colu">
                <li><a href="#" class = "col2" id="upload-music" 
                    data-bs-toggle="modal" data-bs-target="#CreateModal">Create Playlist</a></li>
            </ul>
            <ul class="col-md-12" id = "colu">
                <li><a href="#" class = "col3">Playlist #1</a></li>
                <li><a href="#">Playlist #2</a></li>
                <li><a href="#">Playlist #3</a></li>
            </ul>
        </div>
        
    </div>
    </aside> 
</div>   


<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Upload Music</h5>
                </div>
                <div class="modal-body">
                    <h6>Drag and Drop Files Here</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rounded-pill mr-3">Upload</button>
                    <button type="button" class="btn rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Create Playlist</h5>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rounded-pill mr-3">Create</button>
                    <button type="button" class="btn rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'sideBar',
  props: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#colu{
    margin-bottom:50px;
}
#sidebar .sidebar-brand {
  padding-bottom:20px;
  margin-bottom: 30px;
  margin-left: 0 ;
}

ul{
    list-style:none;
    text-align:left;
}
 ul a {
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: -10px;
  
  
  font-size: 20px;
  display: block;
  list-style-type:none;
}
 ul a:hover {
  color: #71239D;
}
 ul li a {
  margin-top: -1px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: block;
  text-decoration:none;
  list-style-type:none;
}
 ul li a:hover {
  color: #71239D;
}

#UploadModal .modal-content{
  border-color: #B531FF;
  border-width: 4px;
}
#UploadModal .modal-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
}
#UploadModal .modal-body{
  background: #EAC6FF;
  font-size: 17px;
  margin: 5px 20px;
  padding: 50px;
}
#UploadModal .modal-body h6{
  text-align: center;
}
#UploadModal .modal-footer .btn{
  padding: 8px 35px;
  background: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  
}
.form-control{
     background-color: #EAC6FF;
     height:50px;
}
#CreateModal .modal-content{
  border-color: #B531FF;
  border-width: 4px;
}
#CreateModal .modal-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
}
#CreateModal .modal-body{
  
  font-size: 17px;
  margin: 5px 20px;
  padding: 50px;
}
#CreateModal .modal-body h6{
  text-align: center;
}
#CreateModal .modal-footer .btn{
  padding: 8px 35px;
  background: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  
}

</style>
