<template>
  <div class = "app-container" id = "all">
    <nav class = "navbar navbar-expand-lg navbar-light col-md-12 col-lg-12" id="sidebar">
      <div class = "container-fluid">
        <sideBar />
      </div>
    </nav>

    <div id = "content">
        <contMain />
    </div>

  </div>
</template>

<script>
import sideBar from './components/sideBar.vue'
import contMain from './components/contMain.vue'

export default {
  name: 'App',
  components: {
    sideBar,
    contMain
  }
}
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display:flex;
  width:100%;
  height:100vh;
  margin:0;
  overflow:hidden;
}
#mobsidebar{
  width:280px;
}
#sidebar {
  background: #DC9EFF;
  transition: all 0.3s;
  height:inherit;
  display:flex;
  align-items: flex-start;
  min-width: 280px;
	max-width: 280px;
  width: 280px;
}
#all{
  display:flex;
  width:100%;
  
}
#all > *:nth-child(1){
  flex:1 1 30;
}
#all > *:nth-child(2){
  flex:1 1 70;
}
#content {
  background: #EAC6FF;
  width: 100%;
  padding-right: 20px;
  padding-top: 40px;
  min-height: 100vh;
  transition: all 0.3s;
}
@media (min-width: 900px) {
    #app{
      overflow: hidden;
    }
    #navside{

        display:none;
    }
    #mobsidebar{
        display:none;
    }
    
}
@media (max-width: 900px) {
#app{
      overflow: hidden;
      height: 100vh;
    }

#sidebar {
        margin-left: -270px;
        
        height: 100vh;
}
#mainWin{
  width:100vw;
}

#pic1{
    width:50px;
    cursor:pointer;
}
#pic2{
    width:50px;
    cursor:pointer;
}
#pic3{
    width:50px;
    cursor:pointer;
}
#row{
  width:100%;
  height:200px;
}
#bitis{
  margin-left:-100px;
}
.form-control{
  margin-left:-10px;
}
#sid ul{
    list-style:none;
    text-align:left;
}
#sid ul a {
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: -10px;
  
  
  font-size: 20px;
  display: block;
  list-style-type:none;
}
#sid ul a:hover {
  color: #71239D;
}
#sid ul li a {
  margin-top: -1px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: block;
  text-decoration:none;
  list-style-type:none;
}
#sid ul li a:hover {
  color: #71239D;
}

}
</style>
