@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navbar {
  padding-left: 30px;
  paddding-top: 40px;
  margin-bottom: 110px;

}
.navbar .btn{
  margin-top: 10px;
}
.navbar .form{
  margin-left: 20px;
}
.navbar input[type=text] {
  background: black;
  padding: 8px;
  padding-left: 20px;
  margin-top: 8px;
  margin-right: 100px;
  font-size: 17px;
  color: #DC9EFF;
  border-radius: 10px;
  border-color: #802BB1;
  border-width: 2px;
}
.navbar input[type=text]::placeholder{
  color: #DC9EFF;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #DC9EFF;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-brand {
  padding: 60px;
  margin-bottom: 50px;
  margin-left: -20px ;
}
#sidebar .sidebar-brand .name{
  background: #272F40;
  font-family: 'Galada', cursive;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: -10px;
  font-size: 20px;
}
#sidebar ul a {
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: -10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  display: block;
}
#sidebar ul a:hover {
  color: #71239D;
}
#sidebar ul li a {
  margin-top: -1px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  display: block;
}
#sidebar ul li a:hover {
  color: #71239D;
}

#content {
  background: #EAC6FF;
  width: 100%;
  padding-right: 20px;
  padding-top: 40px;
  min-height: 100vh;
  transition: all 0.3s;
}
h1{
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.table{
  background-color: black;
  color: white;
}
.table tr th{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-bottom-color: #802BB1;
}
.table tr:hover td{
  color: #A23CDB;
}
.arrow-left {
  width: 0; 
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:15px solid white;
}
.modal-content{
  border-color: #B531FF;
  border-width: 4px;
}
.modal-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
}
.modal-body{
  background: #EAC6FF;
  font-size: 17px;
  margin: 5px 20px;
  padding: 50px;
}
.modal-body h6{
  text-align: center;
}
.modal-footer .btn{
  padding: 8px 35px;
  background: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 900;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}