@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  background: #FFF4F6;
}
h1{
  padding-top: 10px;
  font-family: 'Galada', cursive;
  text-align: center;
  }
.navbar{
  border: 2px solid black;
  border-right: none;
  border-left: none;
  padding-left:50px;
  padding-right:100px;
  margin-top: none;
  margin-left:50px;
  margin-right:50px;
}
  .navbar-nav > li{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  padding-left:50px;
  padding-right:10px;
  margin-left:30px;
  margin-right:30px;
}
h2{
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
.hero-image {
  background: url(https://images.unsplash.com/photo-1561657819-51c0511e35ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
}
.card{
  margin-top: 20px;
  background: #C4C4C4;
  border-radius: 30px;
}
.card:hover{
      transform: translateY(-10px);
}

.mainImage {
  height: 350px;
  width: 100px;
  padding: 20px;
  margin-bottom: -20px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
}
.card-body > a{
  text-align: center;
  margin-left:60px;
  margin-right:30px;
}